Source/App/PeelseDartBond/.vs
Source/App/PeelseDartBond/PeelseDartBond/bin/Debug
Source/App/PeelseDartBond/PeelseDartBond/obj/Debug
Source/App/PeelseDartBond/PeelseDartBond.Android/bin/Debug
Source/App/PeelseDartBond/PeelseDartBond.Android/obj/Debug
Source/App/PeelseDartBond/PeelseDartBond.iOS/bin/iPhoneSimulator
Source/App/PeelseDartBond/PeelseDartBond.iOS/bin/iPhone
Source/App/PeelseDartBond/PeelseDartBond.iOS/obj/iPhoneSimulator
Source/App/PeelseDartBond/PeelseDartBond.iOS/obj/iPhone
Assets/AndroidSpecific/Thumbs.db
Assets/Common/Thumbs.db
Assets/iOSSpecific/Thumbs.db