Source/App/PeelseDartBond/.vs
Source/App/PeelseDartBond/PeelseDartBond/bin
Source/App/PeelseDartBond/PeelseDartBond/obj
Source/App/PeelseDartBond/PeelseDartBond.Android/bin
Source/App/PeelseDartBond/PeelseDartBond.Android/obj
Source/App/PeelseDartBond/PeelseDartBond.iOS/bin
Source/App/PeelseDartBond/PeelseDartBond.iOS/obj
Assets/AndroidSpecific/Thumbs.db
Assets/Common/Thumbs.db
Assets/iOSSpecific/Thumbs.db